<ion-view view-title="Detalhe do título">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="img/d.png" ng-if="titulo.natureza === 'D'">
        <img src="img/c.png" ng-if="titulo.natureza === 'C'">
        <h2>{{titulo.obs}}</h2>
        <p>Vencimento: {{titulo.dtVencimento | date: 'dd/MM/yyyy'}}</p>
        <p>Status: <span ng-class="titulo.idUsuario > 0 ? 'assertive' : 'balanced'"><strong>{{titulo.idUsuario > 0 ? 'VENCIDO' : 'EM DIA'}}</strong></span></p>
      </div>

      <div class="item item-body">
        <p>Data Título: {{titulo.dtTitulo | date: 'dd/MM/yyyy'}}</p>
        <p>Tipo: {{titulo.tipo.tipo}} {{titulo.banco.banco}}</p>
        <h2>{{titulo.valor | currency}}</h2>
        <p>Contas:</p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-trash-a"></i>
          Excluir
        </a>
        <a class="tab-item" ng-click="baixarTitulo()">
          <i class="icon ion-checkmark-circled"></i>
          Baixar
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
