<ion-view view-title="Títulos">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-headers">
            <div class="list">
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/avatar.png">
                    <h2>Jon Snow</h2>
                    <p>Da illest illegitimate</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer">
      <div class="title">

      </div>
      <div class="buttons buttons-right">
        <button class="button button-balanced-900 button-fab" ng-click="openModalNovoTitulo()">
          <i class="icon ion-plus-round light"></i>
        </button>
      </div>
    </div>
</ion-view>
